<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .registration-container {
            border: 2px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 400px; 
            box-sizing: border-box; 
        }
        h1 {
            text-align: center;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 95%; 
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .register-button {
            background-color: #007bff; 
            border: none;
            padding: 10px;
            border-radius: 4px;
            cursor: pointer;
            width: 100%; 
            margin-top: 10px;
            color: #fff;
        }
        .register-button:hover {
            background-color: #0056b3; 
        }
        .error-message {
            color: red;
            margin-bottom: 15px;
            text-align: center; 
        }
    </style>
</head>
<body>
    <div class="registration-container">
        <h1>Registration Form</h1>
        {{#errors}}
        <div class="error-message">
            <ul>
                {{#errors}}
                <li>{{ . }}</li>
                {{/errors}}
            </ul>
        </div>
        {{/errors}}
        <form method="POST" action="/register">

            <label for="complete_name">Complete Name:</label>
            <input type="text" name="complete_name" required>
            
            <label for="email">Email:</label>
            <input type="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" name="password" required>

            <label for="confirm_password">Confirm Password:</label>
            <input type="password" name="confirm_password" required>

            <div>
                <button type="submit" class="register-button">Register</button>
            </div>
        </form>
        <div style="text-align: center; margin-top: 15px;">
            <span>Already have an account? <a href="/login">Login here</a>.</span>
        </div>
    </div>
</body>
</html>